{{>setConfigs}}
<div class="container h-100">
    <div class="nes-container is-dark mt-2">
        <div class="row">
            <div class="col">
                <div class="row">
                    <img class="title-image" src="/images/coin.gif" alt="coin">
                    <h3 class="inline-item mt-3"> THE COIN ROOM</h3>
                </div>
            </div>
            <div class="col text-right">
                <div class="row justify-content-end">
                    <div class="social-networks mt-2">
                        <a href="https://twitter.com/urienix" target="_blank" title="Twitter"><i
                                class="nes-icon twitter"></i></a>
                        <a href="https://www.linkedin.com/in/urienix/" target="_blank" title="Instagram"><i
                                class="nes-icon instagram"></i></a>
                        <a href="https://www.linkedin.com/in/urienix/" target="_blank" title="Linkedin"><i
                                class="nes-icon linkedin"></i></a>
                        <a href="https://github.com/urienix" target="_blank" title="GitHub"><i
                                class="nes-icon github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mx-auto mt-4">
        <div class="col-md-3">
            <section class="nes-container is-dark with-title my-2">
                <p class="title">Conectados(<span id="usersConnectedsCount">6</span>)</p>
                <div class="lists">
                    <ul class="nes-list">
                        <li class="my-4"><i class="nes-kirby scalled"></i>Urienix(tu)</li>
                        <li class="my-4"><i class="nes-mario scalled"></i>Samuel</li>
                        <li class="my-4"><i class="nes-bulbasaur scalled"></i> Xavier</li>
                        <li class="my-4"><i class="nes-charmander scalled"></i>Limuel</li>
                        <li class="my-4"><i class="nes-squirtle scalled"></i>Manuel</li>
                        <li class="my-4"><i class="nes-ash scalled"></i>Ruben</li>
                    </ul>
                </div>
            </section>
        </div>
        <div class="col-md-9">
            <section id="messagesSection" class="nes-container with-title is-dark mt-2">
                <p class="title">Chatline</p>
                <section id="conversationSection" class="message-list">

                    <section class="message -left">
                        <i class="nes-mario scalled"></i>
                        <div class="nes-balloon from-left is-dark with-title">
                            <p class="title text-success">Samuel</p>
                            <p>Hola Urienix como stas</p>
                        </div>
                    </section>

                    <section class="message -right">
                        <div class="nes-balloon from-right with-witle is-dark">
                            <p class="title text-primary">Urienix</p>
                            <p>Ahh prro. aqui probando socket io</p>
                        </div>
                        <i class="nes-kirby scalled"></i>
                    </section>

                    <section class="message -left">
                        <i class="nes-charmander scalled"></i>
                        <div class="nes-balloon from-left with-witle is-dark">
                            <p class="title text-primary">Limuel</p>
                            <p>Miralo, jajaja, se ve masison wey</p>
                        </div>
                    </section>

                </section>
            </section>
            <section id="writeMessageSection" class="nes-container is-dark mt-4">
                <div class="row">
                    <div class="col-md-10">
                        <textarea rows="1" id="writeMessageInput" class="nes-textarea is-dark"
                            placeholder="Escribe algo..."></textarea>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" id="sendMessageButton" class="nes-btn is-disabled ml-2 px-4" title="Enviar" disabled>
                            <h3>▶</h3>
                        </button>
                    </div>
                </div>
            </section>
        </div>
        </section>
    </div>
    <div class="text-right">
        <p>Made with <i class="nes-icon heart is-small"></i> by <a class="link-item" href="https://urienix.moe" target="_blank" title="urienix.moe">urienix</a></p>
    </div>
</div>